@import "~bootstrap/scss/bootstrap";

body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    font-weight: 600;
}

